# LIST

In [ ]:
# -List is use to store data .


# PROPERTIES OF LIST=

# 1)Mutiable data type
# 2)Ordered data type
# 3)Duplicate items are allowed
# 4)Hetrogenious objects 
# 5)Indexing and slicing possible

In [4]:
a = ['a','b','c','d']
b = ('a','b','c','d')
c = {'a','b','c','d'}

print(type(a))
print(type(b))
print(type(c))

<class 'list'>
<class 'tuple'>
<class 'set'>

In [20]:
#Hetrogenious objects

num1 = [12,'shubham' ,'python' , 35.4 ,(7,5) ,{3,4,5} ,{'A' : 100}]
        
print(num1)        
print('Type of num1 = ' ,type(num1))

[12, 'shubham', 'python', 35.4, (7, 5), {3, 4, 5}, {'A': 100}]
Type of num1 =  <class 'list'>

In [27]:
#Mutibale data type

men1 = [100,244,'shubham' ,500 ,4.5]
print(men1)
men1[0] = 'python'
print(men1)

[100, 244, 'shubham', 500, 4.5]
['python', 244, 'shubham', 500, 4.5]

In [13]:
#Slicing in list

list1 = [555 , 'python' , 5.5 ,[1,2,3] ,(1,2,3,4) ]

print(list1[0:3])
print(list1[])

[555, 'python', 5.5]

In [29]:
#step slicing

list2 = [10,20,30,40,50]

print(list2[-3:-5:-1])

[30, 20]

In [57]:
#Accessing lsit by for loop

s = [1,2,1,2,4,2,3,4,5,6]

t = 0
v = 0

for i in s:
    if i >= 4:
        t = t + 1
        
    else:
        v = v + 1
        
print('Numbers greater than 4 are = ' , t)
print(v)

Numbers greater than 4 are =  4
6

# LIST FUNCTIONS

# .append()

In [1]:
#Pythonâ€™s append() function inserts a single element into an existing list.
#The element will be added to the end of the old list rather than being returned to a new list

class1 = ["python" , 'i' , "a" ,'programing' ]

class1.append('language')
print(class1)

['python', 'i', 'a', 'programing', 'language']

In [4]:
m = [0,2,4,6,8]
l = [0,-2,-4,-6,-8]

m.append(l)
print(m)

[0, 2, 4, 6, 8, [0, -2, -4, -6, -8]]

# .extend()

In [5]:
#Adding each element to the list and extending the list
#removes bracket , square brackets etc

m = [0,2,4,6,8]
l = [0,-2,-4,-6,-8]

m.insert(2,l)
print(m)

[0, 2, [0, -2, -4, -6, -8], 4, 6, 8]

# .insert()

In [73]:
# Inserts a given element at a given index in a list 

# syntex = list_name.insert(index, element) 

f = [13,'city' , 7.7 , 'sangli']

f.insert(2 ,'beautiful')
print(f)

[13, 'city', 'beautiful', 7.7, 'sangli']

# DELETE ITEMS FORM LIST

In [ ]:
# 1)Remove
# 2)Pop
# 3)Clear
# 4)del keyword

In [8]:
# 1)Remove -
#         It removes exact value . Removes only first occured value.

A = [2,'python' , 35 ,2, 40 ,60]
    
A.remove(40)
A

[2, 'python', 35, 2, 60]

In [4]:
x = [[1]] * 2
x[0].append(2)


[1,2] , [1,2]

([1, 2], [1, 2])

In [5]:
name =['shubham']
name.append('python')
print(name[1])

python

In [6]:
var1 = True
var2 = False
var3 = False  

if var1 or var2 and var3 :   #True or False and False
    print('True')
    
else:
    print('False')

True

In [10]:
a = {}
b = {1}

print(type(a) == type(b))
print(type(a))
print(type(b))

False
<class 'dict'>
<class 'set'>

In [9]:
a1 = 'hello'
b1 = 'bye'
c1 = 15
d1 = 13

print(a1 + b1)
print(a1 + c1)
print(a1 * d1)

hellobye
hellohellohellohellohellohellohellohellohellohellohellohellohello

# Questions

In [15]:
 

x = [[1]] * 2
x[0].append(2)

In [ ]:
# 2)
# name =['shubham']
# name.append('python')
# print(name[1])

# 3)
# var1 = True
# var2 = False
# var3 = False  

# if var1 or var2 and var3 :
#     print('True')
    
# else:
#     print('False')
    
    
# 4)
# a = {}
# b = {1}

# print(type(a) = type(b))


# 5)
# a1 = 'hello'
# b1 = 'bye'
# c1 = 15
# d1 = 13

# print(a1 + b1)
# print(a1 + c1)
# print(a1 * d1)